* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow:column;
  min-height: 100vh
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main{
  flex: 1;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-profile {
  width: 700px;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0,0.1);
}

.profile_table {
  width: 100%;
  border: 1px solid #D1DBEB;
  border-radius: 8px;
  border-collapse: separate;
  overflow: hidden
}

.profile_table .header {
  width: 200px;
  padding: 16px 24px;
  text-align: left;
  background: #F1F5FA;
}

.profile_table .data {
  padding: 16px 24px;
}

.Pagination {
  display: flex;
  align-items: center;
}

.Pagination-Item-Link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  background: #fff;
  border: solid 2px #111;
  font-size: 14px;
  color: #111;
  font-weight: bold;
  transition: all 0.15s linear;
}

.Pagination-Item-Link-Icon {
  width: 20px;
}

.Pagination-Item-Link.isActive {
  background: #111;
  color: #fff;
  pointer-events: none;
}

.Pagination-Item-Link.isPassive {
  background: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.Pagination-Item-Link:not(.isActive):hover {
  background: #111;
  color: #fff;
}

.Pagination>*+* {
  margin-left: 8px;
}